/* You can add global styles to this file, and also import other style files */
/* src/styles.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Parisienne&display=swap');

/* Reset de base et styles globaux */
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: #333;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}